.container {
        min-height: 100vh;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      body {
        background: url("mello_spl.jpg") no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      button {
        height: 38px;
        width: 38px;
      }
      button i {
        font-size: 20px;
      }
      .content {
        font-size: 30px;
        margin-top: 20px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: underline;
      }
      h1 {
        font-size: 45px;
        background: -webkit-linear-gradient(rgb(226, 4, 4), rgb(37, 16, 230));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
